<div class="container">
  <div class="col s3">
    <div class="top-5-most-active">
      <canvas id="Top5MostActive" width="400" height="400"></canvas>
      <script>
      var ctx = document.getElementById("Top5MostActive").getContext('2d');
      const chartOptions = {
        type: 'bar',
        data: {
          labels: [],
          datasets: [{
            label: 'Top 5 Most Active Locations',
            data: [],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }],
            xAxes: [{ticks:{autoSkip: false}}]
          }
        }
      }
      $.ajax({
        method: 'GET',
        url: '/api/v1/locations/location_with_most_projects',
        success: function(response){ renderChart(response) },
        error: function(xhr,textStatus,errorThrown) { console.log(xhr,textStatus,errorThrown) }
      });
      const renderChart = function(Top5MostActive){
        for(var i = 0, len = Top5MostActive.length; i < len; i++) {
          let location = Top5MostActive[i];
          chartOptions.data.labels.push(location.city + " " + location.country);
          chartOptions.data.datasets[0].data.push(location.project_count);
        }
        var myChart = new Chart(ctx, chartOptions);
      }
      </script>
    </div>
  </div>
</div>
