<div class="card blue-grey lighten-3 rewards_list container">
<h4>Support this Project</h4>
  <% @project.rewards.each do |reward| %>
  <div class="card-content">
    <span class="card-title"> <%= reward.title %></span></br>
      <p><strong>Remaining Pledges: </strong><%= reward.limit %></p></br>
      <p><%= reward.description %></p></br>
      <%= link_to "Back this Project", checkout_path(reward), class: "waves-effect waves-light btn" %>
  </div>
  <% end %>
</div>
